<footer class="t-hackcss-footer">
  <hr />

  <div class="grid -stretch">
    <div class="cell -6of12">
      <h3 class="footer-heading">{{ site.title }}</h3>
      <span>{{ site.description }}</span>
    </div>

    <div class="contact-list cell -6of12">
      {% for social in site.social %} {% assign template = social.service|prepend:"icon-"|append:".html" %}
      <div class="">
        <i class="t-hackcss-icon">{% include {{ template }} %}</i>
        <a href="{{ social.link }}">{{ social.username }}</a>
      </div>
      {% endfor %}
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</footer>
