// This file contains custom (non hack.css) styles

html {
    font-size: 14px;
}

.hack,
.hack blockquote,
.hack code,
.hack em,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack strong {
  line-height: 2.2rem;
}

.hack h2:before,
.hack h3:before,
.hack h4:before,
.hack h5:before,
.hack h6:before {
  display: none;
}

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-navigation {
    padding-right: $spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: $spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: $spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include media-query($on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    > svg {
      width: $icon-size;
    }
  }

  // examples.html

  &-media {
    margin-bottom: 1.25rem;
  }

  &-media-shift {
    max-width: $image-size;
  }

  &-media-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &-cards {
    flex-wrap: wrap;
    @include media-query($on-palm) {
      flex-wrap: nowrap;
    }
  }

  &-cards-cell {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &-cards-text {
    margin: 0
  }

  &-cards-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  &-cards-link {
    text-align: center;
  }
}

.hack hr:after {
    content: "----------------------------------------------------------------------------------------------------------------------------------------------------------";
}

footer h3 {
    margin-bottom: 0 !important;
}

.hack blockquote,
.hack blockquote strong {
    color: #444;
    font-style: italic;
}
.contact-list {
    text-align: right;
}
